/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.269);
    color: #333;
    text-align: center; 
}

h1 {
    font-size: 3.5rem;
    margin: 20px 0;
    color: #2c3e50;
    padding-top: 90px;
    font-family: Audiowide, cursive;
}

/* Contenedor de los botones */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
   
}

/* Estilo de los botones */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 1.5rem;
    cursor: pointer;
    width: 80%; /* Ocupa el 80% del ancho del contenedor */
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    font-family: "Neucha", serif;
    
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1e6f95;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        font-family: Audiowide, cursive;
    }

    button {
        font-size: 1.5rem;
        padding: 10px 15px;
        font-family: "Neucha", serif;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
}