<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campo Libre</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Neucha&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Campo Libre</h1>
    <div>
        <button onclick="location.href='/recolecciones'">Recolectar</button>
        <button onclick="location.href='/ventas'">Ventas</button>
        <button onclick="location.href='/resumen'">Resumen</button>
        <button onclick="location.href='/reportes'">Reportes</button>
    </div>
</body>

</html>