<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Neucha&display=swap" rel="stylesheet">
    <title>Reportes</title>
    <link rel="stylesheet" href="/static/css/reportes.css">
</head>

<body>
    <header>
        <h1>Reportes</h1>
    </header>

    <section>
        <h2>Consultar Info.</h2>
        <form method="POST">
            <label for="fecha_inicio">Fecha Inicio:</label>
            <input type="date" name="fecha_inicio" required>

            <label for="fecha_fin">Fecha Fin:</label>
            <input type="date" name="fecha_fin" required>

            <label for="vendedor">Vendedor:</label>
            <input type="text" name="vendedor" placeholder="Ingrese nombre del vendedor (opcional)">

            <button type="submit">Generar Reporte</button>
        </form>

        {% if ventas_maplets or ventas_cajas %}
        <h2>Ventas de Maplets</h2>
        <table border="1">
            <tr>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Categoría</th>
                <th>Cantidad</th>
            </tr>
            {% for venta in ventas_maplets %}
            <tr>
                <td>{{ venta['fecha'] }}</td>
                <td>{{ venta['vendedor'] }}</td>
                <td>{{ venta['categoria'] }}</td>
                <td>{{ venta['cantidad'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Ventas de Cajas</h2>
        <table border="1">
            <tr>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Cantidad</th>
            </tr>
            {% for venta in ventas_cajas %}
            <tr>
                <td>{{ venta['fecha'] }}</td>
                <td>{{ venta['vendedor'] }}</td>
                <td>{{ venta['cantidad'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Porcentaje de Postura por Carro</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Carro</th>
                    <th>Cantidad de Gallinas</th>
                    <th>Cantidad de Huevos Recolectados</th>
                    <th>Porcentaje de Postura</th>
                </tr>
            </thead>
            <tbody>
                {% for postura in postura_por_carro %}
                <tr>
                    <td>{{ postura.carro }}</td>
                    <td>{{ postura.cantidad_gallinas }}</td>
                    <td>{{ postura.cantidad_huevos }}</td>
                    <td>{{ postura.porcentaje_postura }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/exportar_reportes" method="POST">
            <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
            <input type="hidden" name="fecha_fin" value="{{ fecha_fin }}">
            <input type="hidden" name="vendedor" value="{{ vendedor }}">
            <button type="submit">Exportar a Excel</button>
        </form>

        {% endif %}

    </section>
    <div class="volver">
        <a href="/">Volver al Inicio</a>
    </div>
</body>

</html>