<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de Stock</title>
    <link rel="stylesheet" href="/static/css/resumen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Neucha&display=swap" rel="stylesheet">
    <script src="/static/js/validaciones.js" defer></script>
    
</head>

<body>
    <section>
        <button class="volver-index-btn" onclick="location.href='/'">Volver al Inicio</button>
        <h1>Resumen de Stock</h1>
        <table>
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Total Huevos</th>
                    <th>Maplets Dispo.</th>
                    <th>Cajas Dispo.</th>
                    <th>Sobrante</th>
                </tr>
            </thead>
            <tbody>
                {% for item in stock %}
                <tr>
                    <td data-label="Categoría">{{ item['categoria'] }}</td>
                    <td data-label="Total Huevos">{{ item['total_huevos'] }}</td>
                    <td data-label="Maplets Disponibles">{{ item['total_huevos'] // 30 }}</td>
                    <td data-label="Cajas Disponibles">{{ (item['total_huevos'] % 30) // 6 }}</td>
                    <td data-label="Sobrantes">{{ (item['total_huevos'] % 30) % 6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Ajustar Stock por Unidad</h2>
        <form method="POST" action="/ajustar_stock" onsubmit="return validarStock(event)">
            <label for="categoria">Categoría:</label>
            <select name="categoria" required>
                {% for item in stock %}
                <option value="{{ item['categoria'] }}">{{ item['categoria'] }}</option>
                {% endfor %}
            </select>

            <label for="ajuste">Ajuste de Unidades (debe ser negativo):</label>
            <input type="number" name="ajuste" required>

            <button type="submit">Ajustar Stock</button>
        </form>
    </section>
</body>

</html>